.structure {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  flex-direction: column;
  overflow-x: hidden;
}

.structure>table {
  text-align: center;
  /* overflow-x: auto; */
  width: 100%;
  table-layout: fixed;
}

.structure table,
.structure td,
.structure th {
  border: 1px solid black;
}

.structure td,
.structure th {
  padding: 12px;
  width: fit-content !important;
  width: -moz-fit-content;
  min-width: 150px;
  text-align: center;
}

.structure tr{
  width: fit-content !important;
  width: -moz-fit-content;
}

.content {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

@media (max-width: 756px) {
  .structure {
    height: 60vh;
    padding: 0 12px;
  }

  .structure td,
  .structure th {
    padding: 6px;
  }
}