.structure {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  flex-direction: column;
}

.structure table {
  text-align: center;
  border-collapse: collapse;
}

.structure table,
.structure td,
.structure th {
  border: 1px solid black;
}

.structure td,
.structure th {
  padding: 12px;
  min-width: 150px;
  text-align: center;
}

.alternateColor{
  background-color: #E4DCCF;
}

.content {
  overflow-y: auto;
}

tr:hover{
  background-color: #FFA559;
}

@media (max-width: 756px) {
  .structure {
    height: 100%;
    padding: 12px 12px;
  }

  .structure td,
  .structure th {
    padding: 6px;
  }
}
